<% provide(:title, @user.name) %>
<script>
  function toggleCheckbox(element) {
    if (element.checked) {
        $(':checkbox').each(function () {
            this.checked = true;
        });
    } else {
        $(':checkbox').each(function () {
            this.checked = false;
        });
    }
  };
</script>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <table>
        <tr>
          <td><%= image_tag("profile.png", :alt => "profile", height: 128, width: 128) %></td>
          <td>
            Name   : <%= @user.name.to_s.upcase %><br>
            Joined : <%= @user.created_at.to_s  %>
          </td>
        </tr>
      </table>
    </section>
  </aside>
</div>

<hr>
<center>
<p><strong> ALL REQUESTS ( <%= @requests.size %>   ) </strong></p>
  <% if @requests.length > 0 %>
    <%= form_tag({controller: "users", action: "del"}, multipart: true) do%>
    <table border = "2px">
      <tr>
        <td width = "5%"> <input type="checkbox" id="selectAll" value="selectAll" onchange="toggleCheckbox(this)"> </td>
        <td width = "11%">IMAGE </td> 
        <td> NAME </td> 
        <td> DATE </td> 
        <td> RESULT </td> 
        <td> PROBABILITY </td>
      </tr>
      <% @requests.reverse_each do |x| %>
          <tr>
            <td> <input type="checkbox" name="tag_ids[]" value=<%= x.id %> /> </td>
            <td><%=image_tag("classifier_images/" + x.name.to_s, :alt => "profile", height: 128, width: 128) %></td>
            <td> <%= x.name.to_s[0..-5] %> </td>
            <td> <%= x.created_at.to_s %> </td>
            <td> <%= x.result.to_s[1..-2] %> </td>
            <td> <%= x.prob.to_s %> </td>
          </tr>
      <% end %>
    </table>
    <br>
      <%= submit_tag "DELETE !!", class: "btn btn-lg btn-danger" %>
  <% end %>
  <br>
  <% end %>
</center>