<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <table>
        <tr>
          <td><%= image_tag("profile.png", :alt => "profile", height: 128, width: 128) %></td>
          <td>
            Name   : <%= @user.name.to_s.upcase %><br>
            Joined : <%= @user.created_at.to_s  %>
          </td>
        </tr>
      </table>
    </section>
  </aside>
</div>

<hr>

<center>
<p><strong> ALL REQUESTS ( <%= @requests.length/2 %> ) </strong></p>
  <% if @requests.length > 0 %>
    <table border = "2px">
      <tr>
        <td>IMAGE </td> <td> NAME </td> <td> DATE </td> <td> RESULT </td> <td> PROBABILITY </td>
      </tr>
      <% (0..@requests.size-1).step(2).reverse_each do |i| %>
          <% x = @requests[i] %>
          <tr>
            <td><%=image_tag("classifier_images/" + x.name.to_s, :alt => "profile", height: 128, width: 128) %></td>
            <td> <%= x.name.to_s[0..-5] %> </td>
            <td> <%= x.created_at.to_s %> </td>
            <td> <%= x.result.to_s[1..-2] %> </td>
            <td> <%= x.prob.to_s %> </td>
          </tr>
      <% end %>
    </table>
  <% end %>
</center>