<div class="center jumbotron">
  <h3> <%= @val %> </h3>
  <hr>

  <table border="0px">
		<tr> 
			<td rowspan = "2" class = "col"> <%= image_tag("classifier_images/" + @name, class: "img-rounded" , alt: "Uploaded", height: 480, width: 640) %> </td>
			<td class = "col" height="25px">
        <h4> Classification Results ( <%= @elapsed %> sec )</h4>
      </td>
		</tr>
		<tr>
			<td class = "col">
				<table>
          <% c = 1 %>
          <% @res.each do |x|  %>
              : <%= x %> : <br>
            <% c += 1 %>
          <% end %>
				</table>
        <br>
				<p> Probability : <%= @prob %></p>
			</td>

		</tr>
		<tr>
			<h3>   </h3>
		</tr>
	</table>
	
	<br><br>	
	<%=	link_to "Try Another Image", request_path, class: "btn btn-md btn-success" %>
</div>

